# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

from citipy import citipy

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
file = "weatherdata.csv"
weather_df = pd.read_csv(file)
weather_df.head()

,City,Cloudiness,Country,Date,Humidity,Temp,Lat,Lng,Wind Speed
0,hilo,40,US,1587261871,54,82.40,19.73,-155.09,10.29
1,avarua,79,CK,1587261872,65,82.40,-21.21,-159.78,9.17
2,rikitea,71,PF,1587261872,69,77.45,-23.12,-134.97,7.36
3,east london,0,ZA,1587261872,61,68.09,-33.02,27.91,14.14
4,manggar,97,ID,1587261872,68,86.68,-2.88,108.27,4.18

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
humidity = weather_df["Humidity"].astype(float)
max_humidity = humidity.max()
locations = weather_df[["Lat", "Lng"]]

In [4]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=max_humidity, point_radius=3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
narrow_city_df = weather_df.loc[(weather_df["Temp"] > 70) & (weather_df["Temp"] < 80) & (weather_df["Cloudiness"] == 0), :]
narrow_city_df = narrow_city_df.dropna(how='any')
narrow_city_df.reset_index(inplace=True)
del narrow_city_df['index']
narrow_city_df.head()

,City,Cloudiness,Country,Date,Humidity,Temp,Lat,Lng,Wind Speed
0,sabha,0,LY,1587261882,19,71.98,27.04,14.43,15.28
1,todos santos,0,MX,1587261764,80,73.00,23.45,-110.22,4.00
2,trairi,0,BR,1587261763,83,77.63,-3.28,-39.27,3.13
3,carupano,0,VE,1587261903,85,74.30,10.67,-63.26,6.82
4,oum hadjer,0,TD,1587261904,15,77.31,13.30,19.70,9.17

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_list = []

for i in range(len(narrow_city_df)):
    lat = narrow_city_df.loc[i]['Lat']
    lng = narrow_city_df.loc[i]['Lng']

    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    jsn = requested.json()
    try:
        hotel_list.append(jsn['results'][0]['name'])
    except:
        hotel_list.append("")
narrow_city_df["Hotel Name"] = hotel_list
narrow_city_df = narrow_city_df.dropna(how='any')
narrow_city_df.head()

,City,Cloudiness,Country,Date,Humidity,Temp,Lat,Lng,Wind Speed,Hotel Name
0,sabha,0,LY,1587261882,19,71.98,27.04,14.43,15.28,Sabhā
1,todos santos,0,MX,1587261764,80,73.00,23.45,-110.22,4.00,Centro
2,trairi,0,BR,1587261763,83,77.63,-3.28,-39.27,3.13,Trairi
3,carupano,0,VE,1587261903,85,74.30,10.67,-63.26,6.82,Carupano
4,oum hadjer,0,TD,1587261904,15,77.31,13.30,19.70,9.17,Oum Hadjer

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrow_city_df.iterrows()]
locations = weather_df[["Lat", "Lng"]]

In [13]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
# Display Map
fig

Figure(layout=FigureLayout(height='420px'))